<%= simple_form_for [project, ticket] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>

  <div id='assets'>
    <h3>Supporting Files</h3>
    <%= render partial: 'assets/form', locals: { f: f, index: 0 } %>
  </div>

  <p>
    <%= link_to 'Add another file', new_asset_path, remote: true, id: 'add_file' %>
  </p>

  <%= f.button :submit, class: 'btn-primary' %>
<% end %>
